.header {
  background: rgba(0, 0, 0, 0.2) url("https://static-assets.amberstudent.com/amber-user-website/static/amberstudent/assets/images/app/assets/1440%20-%20web-min.png?q=90");
  text-align: center;
  object-fit: contain;
  background-blend-mode: darken;
}

.nav {
  display: flex;
  justify-content: space-between;
}



.nav ul {
  display: flex;
  gap: 10px;
}

.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  text-decoration: none;
  color: white;
}

.header {
  color: white;
}

/* hero */
.hero-title {
  font-size: 3.5rem;
  padding-top: 5rem;
}

.hero-subtitle {
  font-weight: bold;
  padding: 0.6rem 0;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.breadcrumb {
  background: rgba(0, 0, 0, 0.2);
  padding: 7px 10px;
  font-size: 15px;
  /* opacity: 0.1; */
  background-blend-mode: darken;
}


.search {
  padding: 25px 15px;
  /* max-width: 1000px; */
  width: 700px;
  border-radius: 50px;
  margin: 2rem 0;
  border: none;
  outline: none;
}

.search-btn {
  border-radius: 50%;
  background-color: #EC3A57;
  color: white;
  height: 60px;
  width: 60px;
  transform: translateX(-70px);
  border: none;
  /* outline: none; */
  transition: 0.2s;
}

/* featires */

.features {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}