.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    display: flex;
    flex: 1;
    position: relative;
    padding: 20px;
}

.header__logo-overlay {
    background-color: var(--primary-color);
    background-color: red;
}